
.weather{
    text-align: center;
}

.row{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-around;
}

.block{
    border-radius: 25px;
    width: 121px;
    height: 118px;
    position: relative;
    background: linear-gradient(180deg, #b32dd4 0%, rgba(217, 217, 217, 0) 100%);
}

.block-blackthing{
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(130deg, #373333 0%, rgba(55, 51, 51, 0) 100%);
    border-radius: 25px;
    width: 121px;
    height: 72px;
    position: absolute;
    top: 56px;
}

.block-time{
    position: relative;
    font-weight: 500;
    font-size: 17px;
    top: 16px;
}

.block-icon{
    position: relative;
    z-index: 10;
    top: 18px;
    width: 70px;
    height: 50px;
}

.block-temperature{
    position: relative;
    top: 12px;
    z-index: 10;
    font-weight: 300;
    font-size: 21px;
}
