@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background: #252323;
    color: white ;
}

.weather{
    text-align: center;
}

.row{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.block{
    width: 200px;
    border: 1px solid #000;
    border-radius: 25px;
    width: 121px;
    height: 118px;
    background: linear-gradient(180deg, #b32dd4 0%, rgba(217, 217, 217, 0) 100%);
}

.block-blackthing{
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(130deg, #373333 0%, rgba(55, 51, 51, 0) 100%);
    border-radius: 25px;
    width: 121px;
    height: 72px;
    position: relative;
    top: 56px;
}

.block-time{
    z-index: 10;
    position: relative;
}

.content h3{
    padding: 0;
    margin-bottom: 10px;
}

.content h6{
    font-weight: 400;
}







.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 17px;
  margin: 0 5px;
  line-height: 1;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background: linear-gradient(90deg, #AD36CB 0%, rgba(149, 241, 134, 0) 100%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 13px;
  width: 13px;
  left: 5px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(58px);
  -ms-transform: translateX(58px);
  transform: translateX(58px);
}



.search-icon{
    position: absolute;
    width: 25px;
    top: 10px;
    left: 20px;
}
.search-input::placeholder{
    font-family: "Poppins", 'sans-serif';
    font-weight: 300;
}
.search-input{
    color:#524E4E;
    border-radius: 18px;
    height: 44px;
    width: 500px;
    background: #d9d9d9;
    border: none;
    outline: none;
    font-size: 1.35em;
    padding-left: 60px;
    font-family: "Poppins", 'sans-serif';
}
.search-form{
    position: relative;
    display: block;
    width: fit-content;
    margin: 0 auto;

}


.currentWeatherBlock{
    margin: 0 auto;
    margin-top: 48px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(255, 250, 250, 0.25), 0 4px 4px 0 rgba(253, 245, 245, 0.25);
    background: linear-gradient(147deg, #ad36cb 26.56%, #333 68.75%);
    border-radius: 32px;
    width: 817px;
    height: 425px;
    padding-left: 28px;
    padding-bottom: 5px;
    padding-top: 35px;
}

.currentWeatherBlock-header{
    text-align: left;
    font-weight: 300;
    font-size: 30px;
    color: #fff;

}

.currentWeatherBlock-main{
    position: relative;
}

.currentWeatherBlock-spot{
    padding-left: 3px;
}

.currentWeatherBlock-temperature{
    line-height: 1;
    display: inline-block;
    margin-top: 90px;
    font-weight: 300;
    font-size: 70px;
    color: #f2f1f1;
}

.currentWeatherBlock-temperature img{
    padding-right: 25px;
    vertical-align: middle;
}

.currentWeatherBlock-date{
    position: absolute;
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    top: 165px;
    left: 0;
}

.currentWeatherBlock-footer{
    margin-top: 145px;
}

.currentWeatherBlock-table{
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.currentWeatherBlock-table tr:last-child{
    font-size: 22px;
}
